<div layout="row">
  <div layout="column" id="sidecol">
    <div lcd  style="width:300px; height:370px; overflow:hidden;" anim-status="'choose-recipe'"></div>
    <div layout="column" layout-padding flex class="command-zone">
      <div style="font-size: 1.6em">
        {{filename}}
      </div>
      <div>
        {{nodesCount}} nodes, 
        {{edgesCount}} edges
      </div>
      <div>
        <md-button
          ng-click="refreshGraph()"
          title="Reload"
          class="md-raised"
        ><md-icon>refresh</md-icon> RELOAD ORIGINAL GRAPH</md-button>
      </div>
      <div>
        <md-button
          ng-click="downloadOutput()"
          title="Download"
          class="md-raised"
        ><md-icon>save</md-icon> SAVE GEXF</md-button>
      </div>
    </div>
  </div>
  <div layout="column" layout-padding id="content" flex class="fancy-text">
    <h1>Select a recipe</h1>
    TODO: a list of recipes
  </div>
</div>

