html, body, .ng-scope:not(.viz-card), .pretty-split-pane-frame {
  height: 100%;
  min-height: 100%;
}

#sidecol {
  width: 300px;
}

.command-zone {
  font-family: 'Raleway', sans-serif;
}

.fancy-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  color: #534b45;
  background-color: #EDE9E2;
}

.fancy-text h1, .fancy-text h2, .fancy-text h3, .fancy-text h4, .fancy-text h5, .fancy-text h6 {
  font-family: 'Lobster', cursive;
}

h1 .subtitle {
  font-family: 'Raleway', cursive;
  font-weight: 300;
  font-size: 0.6em;
  display: block;
}

/* Uploader */
.upload-area-container{
  user-select: none;
  outline: none;
  cursor: pointer;
}
.upload-area-container .upload-area{
  background-color: #FFFFFF;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);

  -webkit-transition: background-color .2s; 
          transition: background-color .2s;
}
.upload-area-container:hover .upload-area, .upload-area-container.over .upload-area{
  background-color: #53aaea;
}
.upload-area-container.loading .upload-area{
  background-color: #46b8da;
}
.upload-area-container.success .upload-area{
  background-color: #5cb85c;
}
.upload-area-container.error .upload-area{
  background-color: #FF0000;
}
.upload-text{
  height: 200px;
  margin-top: -86px;
  /*font-weight: 300;*/
  text-align: center;
}
.upload-text .upload-text-main{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}
.upload-area-container:hover   .upload-text .upload-text-main,
.upload-area-container.over    .upload-text .upload-text-main,
.upload-area-container.loading .upload-text .upload-text-main,
.upload-area-container.success .upload-text .upload-text-main
{
  color: #FFF;
}
.upload-text .upload-text-sub{
  font-family: 'Raleway', sans-serif;
  color: #AAA;
  font-size: 18px;
}
.upload-area-container:hover   .upload-text .upload-text-sub,
.upload-area-container.over    .upload-text .upload-text-sub
{
  color: #FFF;
}
.upload-area-container.loading .upload-text .upload-text-sub,
.upload-area-container.success .upload-text .upload-text-sub
{
  display: none;
}

.upload-info {
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  color: #A28D8D;
}

.upload-info img {
  opacity: 0.5;
}

.upload-info h1 {
  font-size: 3.2em;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 3px;
}

/* Links */

a {
  transition: color .4s;
  color: #53aaea;
  text-decoration: none;
}

a:link,
a:visited { color: #53aaea; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}
